KexAlgorithms are insecure

From my server:
```
sshd[24925]: Unable to negotiate with 1.2.3.4 port 12345: no matching key exchange method found. Their offer: diffie-hellman-group1-sha1,diffie-hellman-group-exchange-sha1 [preauth]
```
Default KexAlgorithms according to `man sshd_config`, OpenSSH 7.7:
>curve25519-sha256,curve25519-sha256@libssh.org,
ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,
diffie-hellman-group-exchange-sha256,
diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,
diffie-hellman-group14-sha256,diffie-hellman-group14-sha1

It appears dokan-sshfs does not support secure algorithms.

[Key Exchange (KEX) Method Updates and Recommendations for Secure Shell (SSH)](https://tools.ietf.org/id/draft-ietf-curdle-ssh-kex-sha2-09.html):
> 3.3. diffie-hellman-group-exchange-sha1
>
>This set of ephemerally generated key exchange groups uses SHA-1 as defined in [RFC4419]. However, SHA-1 has security concerns provided in [RFC6194]. It is recommended that these key exchange groups NOT be used. This key exchange SHOULD NOT be used.

> 3.5. diffie-hellman-group1-sha1
>
>This method uses [RFC7296] Oakley Group 2 (a 1024-bit MODP group) and SHA-1 [RFC3174]. Due to recent security concerns with SHA-1 [RFC6194] and with MODP groups with less than 2048 bits (see [LOGJAM] and [NIST-SP-800-131Ar1]), this method is considered insecure. This method is being moved from MUST to SHOULD NOT instead of MUST NOT only to allow a transition time to get off of it. There are many old implementations out there that may still need to use this key exchange, it should be removed from server implementations as quickly as possible.

The former was recommended to not be used in 2015, and OpenSSH 7.0 in 2015 disabled the latter by default.

This is why the connection with my server failed. The best way to fix this and prevent future problems within this project would probably be a migration to [SSH.NET](https://github.com/sshnet/SSH.NET/) (and proper error messages), but that seems like it'd be a bunch of work. 
My suggested workaround is to use [sshfs-win](https://github.com/billziss-gh/sshfs-win), for which 2 GUIs are available (but I am just fine without). Another option would be an sshfs mount within WSL 2. 

Thank you @solarkraft for your input. SSH.NET look to be a good idea of migration indeed!
I hope a [new maintainer](https://github.com/dokan-dev/dokan-sshfs/issues/25) would be interested to achieve this work for the community !